<!DOCTYPE html>
<html>
<head>
    <title>Ranking Global</title>
</head>
<body>
    {% if session.username %}
        <form action="/logout" method="get">
            <button type="submit">Cerrar sesión</button>
        </form>
    {% endif %}
    <h1>Ranking Global de Jugadores</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Dinero</th>
            <th>Fecha de creación</th>
        </tr>
        {% for personaje in lista_personajes %}
        <tr>
            <td>{{ personaje.nombre }}</td>
            <td>{{ personaje.dinero }}</td>
            <td>{{ personaje.fecha }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/perfil">← Volver a perfil</a>
</body>
</html>